body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1{
    text-align: center;
    padding: 20px;
    color: #333;

}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

@media (max-width: 600px) {
    .product-card img {
        height: 100%;

    }
   .product-card h3{
    font-size: 16px;
    }
    .product-card p{
        font-size: 12px;
    }
}